includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# Should not happen
		- message: '#^Parameter \#1 (.+) of static method Composer\\Json\\JsonFile\:\:parseJson\(\) expects string\|null, string\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Data/InstallerDataGenerator.php
		# Cannot happen - used string is always same
		- message: '#^Parameter \#1 \$string of function substr expects string, string\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Loading/LoaderGenerator.php
